.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  border-bottom: 1px solid #d7d7d7;
  width: 100%;
  
}

.coin {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
  width: 100%;
}

.coin h1 {
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.coin img {
  height: 40px;
  width: 40px;
  margin: 0 auto 10px auto;
}

.coin-symbol {
  text-transform: uppercase;
  text-align: center;
}

.coin-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.coin-price {font-size: 18px;
  font-style:initial;
  width: 100%;
  text-align: center;}

.coin-volume, .coin-marketcap, .coin-percent {
  width: 100%;
  text-align: center;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

@media screen and (max-width:768px){
  .coin-row {
    width: 100%;
  } 
}
